*{
    margin:0px;
    padding: 0px;
}
body{
    background-image: url(./images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    background-position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}
/* this is header section */
.logo-img{
    width: 180px;
    margin: 20px;
    padding: 20px;

}
/* this is banner section */
.banner-container{
    display: flex;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    color:white;
}
.banner-text{
    margin:50px;
    padding:50px;
}
.title{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
    padding:10px;
}
.description{
    font-family: open sans;
    margin-bottom: 10px;
    padding: 10px;
}
.btn{
    border: none;
    width: 150px;
    height: 40px;
    padding: 5px;
    border-radius:20px;
    cursor: pointer;
}
.btn:hover{
    background-color: hsl(300, 69%, 71%);
    color:white;
}
/* icon section  */
.icon{
    width: 1300px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.icons{
    color:white;
    margin-right:5px;
    padding: 5px;
    font-size: 30px;
    cursor: pointer;
}
.icons:hover{
    color:hsl(300, 69%, 71%);
}